{% render 'wheel-tool-css' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinyColorPicker/1.1.1/jqColorPicker.min.js"></script>
<div class="fui flexbox dskd">
	<div class="frame dashboard">
	<div class="workspace">
		<div class="fui flexbox title">
			<div class="fui flexbox plate">
				<a class="title-link" href="/">
					<div class="fui flexbox " style="place-content: center; align-items: center;">
						<svg width="10" height="10" class="all-wheels-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-5 0 25.618 25.618" style="margin-right: 2px;">
							<g data-name="Layer 77" transform="translate(-8.191 -3.191)">
								<g data-name="Group 35">
									<rect data-name="Rectangle 38" width="18.141" height="3.947" rx="1.954" transform="translate(8.191 16.019) rotate(-45)" fill="#161615" style="fill: white;"></rect>
								</g>
								<g data-name="Group 36">
									<rect data-name="Rectangle 39" width="3.947" height="18.141" rx="1.954" transform="translate(8.191 15.981) rotate(-45)" fill="#161615" style="fill: white;"></rect>
								</g>
							</g>
						</svg>Back</div>
				</a>
				<div class="fui flexbox " style="align-items: center;"><span class="wheel-name">affilato-ecl</span><span class="wheel-series">(forgiato)</span></div>
			</div>
		</div>
		<div class="viewport">
			<div class="windows-frame">
				<div class="home-window" style="transform: scale(1); opacity: 1;">
					<div class="home">
						<!-- <div class="fui flexbox " style="justify-content: center;">
							<div class="fui flexbox tab-group">
								<div class="fui flexbox ">
									<div class="fui flexbox tab-group__tab selected" identifier="DESIGNER" style="align-content: center; align-items: center;">DESIGNER</div>
									<div class="fui flexbox tab-group__tab " identifier="MY DESIGNS" style="align-content: center; align-items: center;">MY DESIGNS</div>
								</div>
								<div class="tab-group__pointer" style="left: 45px; width: 77px; opacity: 1;"></div>
							</div>
						</div> -->
						<div class="viewport">
							<div>
								<div class="designer viewport">
									<div class="fui flexbox actions">
										<!-- <div class="fui flexbox action-box" style="align-content: center;">
											<div class="fui flexbox fui radio-button  multi-select" label="Multi-Select" style="align-items: center;">
												<label>Multi-Select</label>
												<div class="button-frame">
													<div class="knob"></div>
													<div class="on-label">ON</div>
													<div class="off-label">OFF</div>
												</div>
											</div>
										</div> -->
										<div class="fui flexbox action-box" style="align-content: center;">
											<button class="fui button modify  disabled" style="transform: scale(0.8); opacity: 0; display: none;">
												<div class="fui flexbox " style="align-content: center; align-items: center;">Modify
													<svg width="10" height="10" class="edit-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
														<g>
															<path d="M142.238,492.432c-9.79,0-19.588-3.736-27.05-11.209c-14.945-14.934-14.945-39.162,0-54.098l180.9-180.909 l-180.9-180.91c-14.945-14.935-14.945-39.163,0-54.098c14.926-14.944,39.172-14.944,54.098,0l207.96,207.958 c14.943,14.935,14.943,39.164,0,54.1l-207.96,207.957C161.824,488.697,152.026,492.432,142.238,492.432z"></path>
														</g>
													</svg>
												</div>
											</button>
										</div>
									</div>
									<div class="fui flexbox options type-options" style="justify-content: space-between;">
										<div class="option" data-id="barrel-inside">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/barrel-inside.png"></div>
												<div class="label">Barrel Inside</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="bolts">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/bolts.png"></div>
												<div class="label">Bolts</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="cap-f-bg">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/cap-f-background.png"></div>
												<div class="label">Cap F Background</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="cap-f-logo">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/cap-f-logo.png"></div>
												<div class="label">Cap F Logo</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="cap-frame">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/cap-frame.png"></div>
												<div class="label">Cap Frame</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="cap-text">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/cap-text.png"></div>
												<div class="label">Cap Text</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="flange">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/flange.png"></div>
												<div class="label">Flange</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="flange-text">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/flange-text.png"></div>
												<div class="label">Flange Text</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="lip-outer">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/lip-outer.png"></div>
												<div class="label">Lip Outer</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="lug-holes">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/lug-holes.png"></div>
												<div class="label">Lug Holes</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="pinstripe">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/pinstripe.png"></div>
												<div class="label">Pinstripe</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="spoke-face">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/spoke-face.png"></div>
												<div class="label">Spoke Face</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="spoke-insert">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/spoke-insert.png"></div>
												<div class="label">Spoke Insert</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
										<div class="option" data-id="window">
											<div class="fui flexbox wrapper " style="flex-direction: row; justify-content: center; position: relative;">
												<div class="image-box loaded">
													<svg class="fui progress circular loader" width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
														<g fill="none" fill-rule="evenodd">
															<g transform="translate(1 1)" stroke-width="2">
																<circle stroke="#dadada" stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
																<path stroke="#585858" d="M36 18c0-9.94-8.06-18-18-18">
																	<animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
																</path>
															</g>
														</g>
													</svg><img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/window.png"></div>
												<div class="label">Window</div>
												<svg class="arrow-color" width="76" height="76" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="position: absolute; z-index: 3;">
													<polygon stroke="white" stroke-width="1" points="70,98 98,98 98,70" style="fill: #ffffff"></polygon></svg>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="palette-window ">
					<div class="palette">
						<div class="fui flexbox " style="align-items: center;">
							<div class="selected-parts">
								<div class="title">Modifying...</div>
								<div class="fui flexbox ">
									<div class="part">
										<div class="image-box">
											<img src="https://wheel-builder.forgiato.com/images/design/option/affilato-ecl/barrel-inside.png">
										</div>
										<div class="label">
											Barrel Inside
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="fui flexbox fui horizontal-divider hline" style="align-items: center;">
							<div class="label">Sepcial Finishes</div>
							<div class="line"></div>
						</div> -->
						<!-- <div class="fui flexbox special-finish-box">
							<div class="special-finish">
								<div class="finish ">
									<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
										<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
											<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
										</svg>
									</div><img class="icon" src="https://wheel-builder.forgiato.com/images/design/finish/carbon-fiber.png"></div>
								<div class="label">Carbon Fiber</div>
							</div>
							<div class="special-finish">
								<div class="finish ">
									<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
										<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
											<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
										</svg>
									</div><img class="icon" src="https://wheel-builder.forgiato.com/images/design/finish/brushed.png"></div>
								<div class="label">Brushed Finish</div>
							</div>
						</div> -->
						<div class="fui flexbox fui horizontal-divider hline" style="align-items: center;">
							<div class="label">Colors</div>
							<div class="line"></div>
						</div>
						<div class="fui flexbox colorsWheel" style="justify-content: center;">
							<div class="color  finish ">
								<div class="fui flexbox clear-icon disabled" title="Clear" style="justify-content: center;">
									<svg width="33" height="33" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 360">
										<g>
											<path d="M348.994,102.946L250.04,3.993c-5.323-5.323-13.954-5.324-19.277,0l-153.7,153.701l118.23,118.23l153.701-153.7 C354.317,116.902,354.317,108.271,348.994,102.946z"></path>
											<path d="M52.646,182.11l-41.64,41.64c-5.324,5.322-5.324,13.953,0,19.275l98.954,98.957c5.323,5.322,13.954,5.32,19.277,0 l41.639-41.641L52.646,182.11z"></path>
											<polygon points="150.133,360 341.767,360 341.767,331.949 182.806,331.949"></polygon>
										</g>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#000000" style="background-color: rgb(0, 0, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color white finish" data-color="#ffffff" style="background-color: rgb(255, 255, 255);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#3e2723" style="background-color: rgb(62, 39, 35);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#424242" style="background-color: rgb(66, 66, 66);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#212121" style="background-color: rgb(33, 33, 33);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#f44336" style="background-color: rgb(244, 67, 54);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#e53935" style="background-color: rgb(229, 57, 53);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#d32f2f" style="background-color: rgb(211, 47, 47);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#c62828" style="background-color: rgb(198, 40, 40);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#b71c1c" style="background-color: rgb(183, 28, 28);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#d50000" style="background-color: rgb(213, 0, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#9c27b0" style="background-color: rgb(156, 39, 176);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#8e24aa" style="background-color: rgb(142, 36, 170);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#7b1fa2" style="background-color: rgb(123, 31, 162);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#6a1b9a" style="background-color: rgb(106, 27, 154);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#4a148c" style="background-color: rgb(74, 20, 140);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#aa00ff" style="background-color: rgb(170, 0, 255);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#3f51b5" style="background-color: rgb(63, 81, 181);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#3949ab" style="background-color: rgb(57, 73, 171);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#303f9f" style="background-color: rgb(48, 63, 159);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#283593" style="background-color: rgb(40, 53, 147);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#1a237e" style="background-color: rgb(26, 35, 126);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#304ffe" style="background-color: rgb(48, 79, 254);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#2196f3" style="background-color: rgb(33, 150, 243);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#1e88e5" style="background-color: rgb(30, 136, 229);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#1976d2" style="background-color: rgb(25, 118, 210);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#1565c0" style="background-color: rgb(21, 101, 192);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#0d47a1" style="background-color: rgb(13, 71, 161);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#2962ff" style="background-color: rgb(41, 98, 255);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#4caf50" style="background-color: rgb(76, 175, 80);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#43a047" style="background-color: rgb(67, 160, 71);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#388e3c" style="background-color: rgb(56, 142, 60);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#2e7d32" style="background-color: rgb(46, 125, 50);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#1b5e20" style="background-color: rgb(27, 94, 32);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#00c853" style="background-color: rgb(0, 200, 83);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ffff00" style="background-color: rgb(255, 255, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ffb300" style="background-color: rgb(255, 179, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ffa000" style="background-color: rgb(255, 160, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ff8f00" style="background-color: rgb(255, 143, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ff6f00" style="background-color: rgb(255, 111, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
							<div class="color  finish " data-color="#ffab00" style="background-color: rgb(255, 171, 0);">
								<div class="fui flexbox selected-check" style="flex-direction: column; justify-content: center;">
									<svg width="15" height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.432 492.432">
										<path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
									</svg>
								</div>
							</div>
						</div>
						<div class="fui flexbox back-button-wrapper">
							<button class="fui button back-button small" id="back-to-type">
								<div class="fui flexbox " style="place-content: center; align-items: center;">
									<svg width="10" height="10" class="back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-5 0 25.618 25.618" style="fill: white;">
										<g data-name="Layer 77" transform="translate(-8.191 -3.191)">
											<g data-name="Group 35">
												<rect data-name="Rectangle 38" width="18.141" height="3.947" rx="1.954" transform="translate(8.191 16.019) rotate(-45)" fill="#161615" style="fill: white;"></rect>
											</g>
											<g data-name="Group 36">
												<rect data-name="Rectangle 39" width="3.947" height="18.141" rx="1.954" transform="translate(8.191 15.981) rotate(-45)" fill="#161615" style="fill: white;"></rect>
											</g>
										</g>
									</svg>Done</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
	
</div>
  
  {% render 'wheel-tool-js' %}